<!DOCTYPE html>
<!-- saved from url=(0071)https://wjf444128852.github.io/sumDemos/aboutImg/360img/demo/index.html -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title id="the_title"><%=page_name%></title>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <!-- 启用webAPP全屏模式-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- 隐藏状态栏或者设置状态栏的颜色-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- 禁止缓存访问页面-->
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="applicable-device" content="mobile">
    <!-- 页面关键词-->
    <link rel="stylesheet" href="../css/published/panorama.css">
    <link rel="stylesheet" href="../css/libs/photo-sphere-viewer.css">
    <script src="../js/libs/jquery-3.2.1.min.js"></script>
    <script src="../js/libs/jcanvas.min.js"></script>
    <script src="../js/libs/three.min.js"></script>
    <script src="../js/libs/D.min.js"></script>
    <script src="../js/libs/uevent.min.js"></script>
    <script src="../js/libs/doT.min.js"></script>
    <script src="../js/libs/photo-sphere-viewer.js"></script>
    <script src="../js/libs/jweixin-1.2.0.js"></script>
    <!-- 处理后端render 的 ejs 所传入view 的数据 -->
    <script>
        window.page_id = '<%=page_id%>';
    </script>
</head>
<body>
    <div class="main" id="main_div">
        <div id="headers">
            <div id="title">场景标题</div><div class="btn-audio"><audio id="page_audio" autoplay="autoplay" loop="loop"><source src="<%=page_sound%>" type="audio/mpeg" autoplay="autoplay"/></audio></div>
        </div>
        <div id="container" style="width: 90%; height: 640px; display: inline-block"></div>
        <div id="tip_tag"></div>
    </div>
    <script src="../js/published/panorama.js"></script>
<script>function insertElement(element){tinyMCE.execCommand('mceInsertContent', false, element);}</script></body></html>