*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    outline: 0;
}
.main{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.main h3{
    text-align: center;
    padding: 10px 0;
}

/* 弹窗 (background) */
.modal {
    display: none; /* 默认隐藏 */
    position: fixed; /* 固定定位 */
    z-index: 1; /* 设置在顶层 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.marker_text{
    background-color: #fefefe;
    width: 56px;
    height: 24px;
}

#mask{
    display: none; /* 默认隐藏 */
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #000000;
    opacity: 0.5;
    position:fixed;
    top:0;
    left:0;
}

#dialog{
    display: none; /* 默认隐藏 */
    position:fixed;
    width:200px;
    height:86px;
    background-color: #efefef;
    opacity: 1;
    z-index: 100;
    text-align: center;
    margin:0 auto;
    border-radius: 5px;
    border-style: outset;
    border-width: thick;
}

.marker_input{
    margin-top: 5px;
    border-radius: 1px;
    border-style: inset;
    border-width: thin;
}

.dialog-button{
    width: 64px;
    height: 24px;
    background-color: #dcdcdc;
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
    border-style: groove;
    border-width: thin;
}

.dialog-button:hover{
    border-radius: 3px;
    border-style: inset;
    border-width: thin;
}

#control_pad{
    width: 96px;
    height: 480px;
    display: inline-block;
    background-color: #efefef;
    border-radius: 5px;
    border-style: outset;
    border-width: thin;
    float:right;
    margin-right:10px;
}

.pad-button{
    width: auto;
    height: 24px;
    color: #535353;
    text-align: center;
    background-color: #dcdcdc;
    display: inline-block;
    margin-top: 5px;
    margin-left: 8%;
    border-radius: 3px;
    border-style: groove;
    border-width: thin;
}

.control-button{
    width: 24px;
    height: 24px;
    color: #535353;
    text-align: center;
    background-color: #dcdcdc;
    display: inline-block;
    border-radius: 3px;
    border-style: groove;
    border-width: thin;
    margin:2px;
}

.control-button-bis{
    width: 24px;
    height: 24px;
    color: #535353;
    text-align: center;
    background-color: #dcdcdc;
    display: inline-block;
    border-radius: 3px;
    border-style: groove;
    border-width: thin;
    margin:2px;
}

.pad-button:hover{
    border-style: inset;
    border-width: thin;
}

.separator{
    width: 96%;
    height: 5px;
    color: #535353;
    text-align: center;
    background-color: #dcdcdc;
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 3px;
    border-style: groove;
    border-width: thin;
}

#sticky{
    width:1px;
    height:0px;
    position:absolute;
    margin-left: 548px;
    margin-top: -11px;
    border-left:50px solid #f2f2f2;
    border-top:50px solid #9c0000;
}