*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    outline: 0;
}
.main{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.main h3{
    text-align: center;
    padding: 10px 0;
}

/* 弹窗 (background) */
.modal {
    display: none; /* 默认隐藏 */
    position: fixed; /* 固定定位 */
    z-index: 1; /* 设置在顶层 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.marker_text{
    background-color: #fefefe;
    width: 56px;
    height: 24px;
}

#mask{
    display: none; /* 默认隐藏 */
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #000000;
    opacity: 0.5;
    position:absolute;
    top:0;
    left:0;
}

#dialog{
    display: none; /* 默认隐藏 */
    position:fixed;
    width:200px;
    height:86px;
    background-color: #efefef;
    opacity: 1;
    z-index: 100;
    text-align: center;
    margin:0 auto;
    border-radius: 5px;
    border-style: outset;
    border-width: thick;
}

.marker_input{
    margin-top: 5px;
    border-radius: 1px;
    border-style: inset;
    border-width: thin;
}

.dialog-button{
    width: 64px;
    height: 24px;
    background-color: #dcdcdc;
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
    border-style: groove;
    border-width: thin;
}

.dialog-button:hover{
    border-radius: 3px;
    border-style: inset;
    border-width: thin;
}

#control_pad{
    display: none;
    width: 96px;
    height: 480px;
    background-color: #efefef;
    border-radius: 5px;
    border-style: outset;
    border-width: thin;
    float:right;
    margin-right:10px;
}

#login_pad{
    display: inline-block;
    width: 96px;
    height: 480px;
    background-color: #efefef;
    border-radius: 5px;
    border-style: outset;
    border-width: thin;
    float:right;
    margin-right:10px;
}

.pad-button{
    width: auto;
    height: 24px;
    color: #535353;
    text-align: center;
    background-color: #dcdcdc;
    display: inline-block;
    margin-top: 5px;
    margin-left: 8%;
    border-radius: 3px;
    border-style: groove;
    border-width: thin;
}

.control-button{
    width: 24px;
    height: 24px;
    color: #535353;
    text-align: center;
    background-color: #dcdcdc;
    display: inline-block;
    border-radius: 3px;
    border-style: groove;
    border-width: thin;
    margin:2px;
}

.control-button-long{
    width: 72px;
    height: 24px;
    color: #535353;
    text-align: center;
    background-color: #dcdcdc;
    display: inline-block;
    border-radius: 3px;
    border-style: groove;
    border-width: thin;
    margin:2px;
}

.pad-button:hover{
    border-style: inset;
    border-width: thin;
}

.separator{
    width: 96%;
    height: 5px;
    color: #535353;
    text-align: center;
    background-color: #dcdcdc;
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 3px;
    border-style: groove;
    border-width: thin;
}

#insert_mask{
    display: none; /* 默认隐藏 */
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #000000;
    opacity: 0.5;
    position:absolute;
    top:0;
    left:0;
}

#insert_dialog{
    display: none; /* 默认隐藏 */
    position:fixed;
    width:300px;
    height:186px;
    background-color: #efefef;
    opacity: 1;
    z-index: 100;
    text-align: center;
    margin:0 auto;
    border-radius: 5px;
    border-style: outset;
    border-width: thick;
}

#addPage_mask{
    display: none; /* 默认隐藏 */
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #000000;
    opacity: 0.5;
    position:absolute;
    top:0;
    left:0;
}

#addPage_dialog{
    display: none; /* 默认隐藏 */
    position:fixed;
    width:300px;
    height:186px;
    background-color: #efefef;
    opacity: 1;
    z-index: 100;
    text-align: center;
    margin:0 auto;
    border-radius: 5px;
    border-style: outset;
    border-width: thick;
}

.select_page{
    width: 64px;
    margin:2px;
    padding-left: 5px;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    padding-right: 14px;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #888888;
}

#position_canvas{
    width: 85px;
    height: 85px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-left: 5px;
}


.functional_button{
    width: 24px;
    height: 24px;
    color: #535353;
    text-align: center;
    background-color: #dcdcdc;
    display: inline-block;
    border-radius: 3px;
    border-style: groove;
    border-width: thin;
    margin:2px;
}

#tip_tag{
    display: none; /* 默认隐藏 */
    width: 120px;
    height: 36px;
    z-index: 99;
    background-color: #777777;
    position:absolute;
}

#insert_path_dialog{
    display: none; /* 默认隐藏 */
    position:fixed;
    width:300px;
    height:186px;
    background-color: #efefef;
    opacity: 1;
    z-index: 100;
    text-align: center;
    margin:0 auto;
    border-radius: 5px;
    border-style: outset;
    border-width: thick;
}

.select_panorama{
    width: 120px;
    margin:2px;
    padding-left: 5px;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    padding-right: 14px;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #888888;
}

.login-button{
    width: 120px;
    height: 24px;
    color: #535353;
    text-align: center;
    background-color: #dcdcdc;
    display: inline-block;
    border-radius: 3px;
    border-style: groove;
    border-width: thin;
    margin:2px;
}

.login_input{
    width: 80%;
    margin-top: 5px;
    margin-left: 5%;
    border-radius: 1px;
    border-style: inset;
    border-width: thin;
}